form(method="post", action="/users/create")
  div
    label First Name
    input(type="text", name="first_name")
  div
    label Last Name
    input(type="text", name="last_name")
  div
    label Email
    input(type="text", name="email")
  div
    label Password
    input(type="password", name="password")
  div
    label Telephone
    input(type="text", name='telephone')
  input(type="submit")
