h3 Create an Item

form(method="post", action="/items/create")
  div
    input(type="text", name="name")
  div
    textarea(name="description")
  div
    input(type="text", name="location")
  div
    select(name="category")
      option(value="food") Food
      option(value="furniture") Furniture
      option(value="electronics") Electronics
  input(type="submit")
